@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

html {
	font-family: "Space Mono", monospace;
}

body {
	margin: 0 auto;
	box-sizing: border-box;
}

a {
	word-break: keep-all;
}

h1,
h2 {
	font-weight: 700;
}

ul {
	padding: 0 1.2rem;
}
