@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");

html {
	font-family: "Space Mono", monospace;
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #060606;
}

.link {
	color: rgb(64 165 254);
}

.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.select-invert::selection,
.select-invert *::selection {
	background-color: rgb(0, 0, 0);
	color: rgb(24 255 127);
}

::selection,
.select-normal::selection,
.select-normal *::selection {
	background-color: rgb(24 255 127);
	color: #000000;
}

.code-block {
	background-color: rgb(54 54 55);
	padding-inline: 10px;
	border-radius: 8px;
}

a {
	word-break: keep-all;
}

h1,
h2 {
	font-weight: 700;
}

ul {
	padding: 0 1.2rem;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tbody tr td {
	padding-block: 5px;
}

/* Add spacing effect between thead and tbody using a border or pseudo row */
thead {
	border-bottom: 5px solid transparent; /* simulates a margin */
}

.section-width {
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
}

.section-spacer-lg {
	margin-bottom: 130px;
}

.section-spacer-md {
	margin-bottom: 70px;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 1024px) {
	.section-width {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	nav {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

.marquee-wrapper {
	overflow: hidden;
	height: 300px;
}

.marquee-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem; /* gap-6 */
}

.marquee-content {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	overflow: scroll;
}

/* Scroll up animation */
.scroll-up {
	animation: scroll-up 30s linear infinite;
}

/* Scroll down animation */
.scroll-down {
	animation: scroll-down 30s linear infinite;
}

/* Pause on hover */
.marquee-container:hover .scroll-up,
.marquee-container:hover .scroll-down {
	animation-play-state: paused;
}

@keyframes scroll-up {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-50%);
	}
}

@keyframes scroll-down {
	0% {
		transform: translateY(-50%);
	}
	100% {
		transform: translateY(0);
	}
}

#gradient-bg {
	background: radial-gradient(
			66.17% 57.92% at 50% 48.52%,
			rgba(6, 6, 6, 0) 0%,
			#060606 100%
		),
		radial-gradient(
			105.06% 110.34% at 48.01% 63.49%,
			rgba(139, 252, 189, 0.2) 12.74%,
			rgba(86, 237, 153, 0) 100%
		),
		radial-gradient(
			73.48% 38.32% at 50.94% 52.83%,
			rgba(255, 255, 255, 0.2) 12.74%,
			rgba(255, 255, 255, 0) 100%
		),
		radial-gradient(
			40.81% 33.22% at 47.55% 46.99%,
			rgba(139, 252, 189, 0.2) 12.74%,
			rgba(86, 237, 153, 0) 100%
		),
		linear-gradient(to bottom, rgba(6, 6, 6, 0) 0%, #060606 100%);
	background-repeat: no-repeat;
	background-size: cover;
}

.typing {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid currentColor;
	animation: typing 4s steps(40, end), blink 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* Blinking cursor effect */
@keyframes blink {
	50% {
		border-color: transparent;
	}
}
