<div class="w-full" style="margin-top: 100px">
    <div class="section-spacer-md">
        <h1 class="text-3xl text-text-100 font-normal mb-4">Your History</h1>
        <p class="text-md text-text-200">
          Here you can view your submitted proofs and their status.
        </p>
    </div>

    <x-app-history
        proofs={@submitted_proofs}
        leaderboard_address={@leaderboard_address}
    />
</div>