<div class="w-full" style="margin-top: 130px"> 
    <div class="section-width flex flex-col mb-20">
        <div class="mb-10">
            <h1 class="text-2xl font-bold mb-4">Terms of Service</h1>

            <p>
                These are the Terms of Service...
            </p>
        </div>
    </div>
</div>
