[profile.default]
src = "src"
out = "out"
libs = ["lib"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
fs_permissions = [
    { access = "read-write", path = "./script/output" },
    { access = "read", path = "./script/deploy" },
    { access = "read-write", path = "./deployments" },
    { access = "read", path = "./../merkle_tree" },
]

# Enables or disables the optimizer
optimizer = true
# The number of optimizer runs
optimizer_runs = 200
# Whether or not to use the Yul intermediate representation compilation pipeline
via_ir = true
# Override the Solidity version (this overrides `auto_detect_solc`)
solc_version = '0.8.28'
