<main class="px-4 py-10 sm:px-6 lg:px-8">
  <div class="mx-auto" style="max-width: 1000px">
    <.nav />
    <div class="w-full" style="margin-top: 50px">
      {@inner_content}
    </div>
  </div>
</main>
