<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title> Aligned Zk Arcade </title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}> </script>
    <%!-- <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="01c845e9-d8cd-4b06-ab7d-dd0e25baa513";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script> --%>
  </head>
  <body class="text-text-100 antialiased">
    <!-- Global toast container - outside LiveView scope -->
    <div id="toast-container" class="fixed top-20 right-4 z-[9999] pointer-events-none"></div>
    {@inner_content}
  </body>
</html>
