name: Build and Release ZK Arcade Games

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            artifact_name: x86
          - os: macos-latest
            artifact_name: arm64
          - os: macos-15-intel
            artifact_name: macos_x86
          - os: ubuntu-latest
            artifact_name: windows
            target: x86_64-pc-windows-gnu

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.88.0
          components: rustfmt, clippy
          override: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Windows cross-compilation dependencies
        if: matrix.target == 'x86_64-pc-windows-gnu'
        run: |
          sudo apt-get update
          sudo apt-get install -y mingw-w64
          rustup target add x86_64-pc-windows-gnu

      - name: Build Beast Sepolia
        run: |
          if [[ "${{ matrix.target }}" == "x86_64-pc-windows-gnu" ]]; then
            make beast_build_sepolia_windows
          else
            make beast_build_sepolia
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Rename Beast Sepolia binary
        run: |
          if [[ "${{ matrix.target }}" == "x86_64-pc-windows-gnu" ]]; then
            mv games/beast/target/x86_64-pc-windows-gnu/release/beast.exe beast_sepolia_${{ matrix.artifact_name }}.exe
          else
            mv games/beast/target/release/beast beast_sepolia_${{ matrix.artifact_name }}
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Beast Mainnet
        run: |
          if [[ "${{ matrix.target }}" == "x86_64-pc-windows-gnu" ]]; then
            make beast_build_mainnet_windows
          else
            make beast_build_mainnet
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Rename Beast Mainnet binary
        run: |
          if [[ "${{ matrix.target }}" == "x86_64-pc-windows-gnu" ]]; then
            mv games/beast/target/x86_64-pc-windows-gnu/release/beast.exe beast_${{ matrix.artifact_name }}.exe
          else
            mv games/beast/target/release/beast beast_${{ matrix.artifact_name }}
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            beast_sepolia_${{ matrix.artifact_name }}${{ matrix.target == 'x86_64-pc-windows-gnu' && '.exe' || '' }}
            beast_${{ matrix.artifact_name }}${{ matrix.target == 'x86_64-pc-windows-gnu' && '.exe' || '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
